* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.nav {
    background-color: #F2EBD7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-right: 30px;
    position: fixed;
    z-index: 10;
}

.logo_container {
    grid-column-start: 1;
    grid-row-end: 1;
    grid-row-start: 1;
    width: 60%;
}

.menu_list {
    align-items: center;
    display: flex;
    flex-direction: row;
    grid-column-end: 13;
    grid-column-start: 8;
    grid-row-end: 1;
    grid-row-start: 1;
    justify-content: space-between;
    list-style: none;
}

.menu_list a {
    color: inherit;
    font-size: 19px;
    text-decoration: none;
    transition: 0.4s ease;
}

.menu_list a:hover {
    color: #556B2F;
}


.header {
    align-items: center;
    background-image: url("./img/header_italiano1.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 80vh;
    width: 100%;
}

.main_title {
    color: #3D3D3D;
    font-size: 36px;
    text-align: center;
    width: 35%;
}  

/*************************************/
/**********NOSOTROS SECCION***********/
/*************************************/

.nosotros_section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
}

.nosotros_title {
    align-self: center;
    color: #3D3D3D;
    font-size: 26px;
    grid-column-end: 6;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-row-start: 1;
}

.nosotros_description_container {
    grid-column-end: 7;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-row-start: 2;
}

.nosotros_description {
    color: #3D3D3D;
    font-size: 17px;
    line-height: 1.4;
}

.nosotros_image_container {
    grid-column-end: 11;
    grid-column-start: 8;
    grid-row-end: 6;
    grid-row-start: 2;
}

/*************************************/
/*******ESPECIALIDADES SECCION********/
/*************************************/
.especialidades_section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 120px repeat(4, 1fr);
}

.especialidades_title {
    align-self: center;
    color: #3D3D3D;
    font-size: 26px;
    grid-column-end: 9;
    grid-column-start: 5;
    grid-row-end: 1;
    grid-row-start: 1;
    justify-self: center;
}

.especiales {
    display: grid;
    gap: 12px;
    grid-auto-rows: 250px;
    grid-column-end: 12;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-row-start: 2;
    grid-template-columns: repeat(5, 1fr);
}


.especial_image_container img{
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    transition: 0.6s;
    width: 100%;
}

.especial_image_container img:hover {
	overflow: hidden;
    transform: scale(1.2);
}

/*************************************/
/**********CONTACTO SECCION***********/
/*************************************/
.contacto_section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.mapa {
    grid-column-end: 12;
    grid-column-start: 8;
    grid-row-end: 6;
    grid-row-start: 2;
}

.contacto_title {
    align-self: center;
    color: #3D3D3D;
    font-size: 26px;
    grid-column-end: 5;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-row-start: 1;
    justify-self: center;
}

.contact_information_container {
    display: flex;
    flex-direction: column;
    grid-column-end: 7;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-row-start: 2;
}

.contact_information {
    color: #3D3D3D;
    font-size: 17px;
    padding-bottom: 15px;
}

.emoji {
    font-size: 30px;
}

/*************************************/
/***************FOOTER****************/
/*************************************/
.footer {
    background-color: #F2EBD7;
    display: flex;
    justify-content: center;
    padding: 30px ;
}

.copyright {
    color: #3D3D3D;
    font-size: 17px;
    font-weight: 700;
}